export(
  "map.depends",
  "dependencies",
  "centrality",
  "related.packages",
  "funcmap"
)

importFrom(igraph, closeness, betweenness, degree)
importFrom(tools, package.dependencies)

S3method(plot, packdep.dependencies)
S3method(plot, packdep.centrality)
S3method(hist, packdep.dependencies)
S3method(hist, packdep.centrality)
